

<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>


<div class="section">
    <div class="container">
        <div class="row" ng-controller="StandardsCtrl">
            <div class="col-lg-4 col-md-4" ng-repeat="standards in standards | filter:{domain:'rp'}">
                <h3>{{standards.shortText}}</h3>
                <p>{{standards.id}}</p>
                <div>
                    {{standards.example}}
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>

</div>


<div class="container">

    <div class="row">
        <div class="col-lg-8 col-md-8">
            <h4>Example Problem Types</h4>
            <p> [ math problem examples ] </p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="http://ardoreducation.com">View ArdorEducation</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
