
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>


<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Ratios and Proportional Relationships CCSS.MATH.CONTENT.7.RP.A.1</h3>
                Compute unit rates associated with ratios of fractions, including ratios of lengths,
                areas and other quantities measured in like or different units. For example, if a person walks 1/2 mile
                in each 1/4 hour, compute the unit rate as the complex fraction 1/2/1/4 miles per hour,
                equivalently 2 miles per hour.
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Explanation and prerequisits </h2>
                <p><p>
                \[
                \frac{-b\pm\sqrt{b^2-4ac}}{2a}
                \]
            </p></p>
                <p> students will need to know how to s.... </p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>


<div class="container">

    <div class="row">
        <div class="col-lg-8 col-md-8">
            <h4>Example Problem Types</h4>
            <p> [ math problem examples ] </p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="http://ardoreducation.com">View ArdorEducation</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
